body {
    background: linear-gradient(to right, #fff,#39f);
    min-height: 100vh
}

.text-gray {
    color: #aaa
}

.list-group{
	background-color: white;
}

li.list-group-item:hover {
    background:#f9b115;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }